#noteSection{float:left; width:100%; background-color:#fff; padding:100px 30px 0px 30px}
.note_image{text-align: center; align-items: center; margin-bottom:15px; width: 90%; margin-left: auto; margin-right: auto; }
.note_image > img{max-width:90%; height:350px; text-align: center; display: block;margin: auto;}
.note_image > p{font-size: small;}
.note_content{float:left; width:100%; padding: 10px 25px; background-color:#f0f8ff;}
.note_content > p{font-size:18px;}
.note_body > h4, h5 {pointer-events: none;}
.note_body h4 a{color:#191970;}
.note_body h5 a{color:#191970;}
.note_body {width:100%}
.note_body ol ul li{line-height:25px; font-size:18px; color: rgb(74, 74, 74);}
 ol.list_parentheses li{padding-left: 20px; list-style-type:none;  counter-increment: cnt; line-height:25px; font-size:18px; color: rgb(74, 74, 74);}
 ol.list_parentheses li:before{display: marker; content: "(" counter(cnt) ") ";}
.note_body > img{max-width:90%; height: auto; text-align: center; margin: auto; display: block;}
.caption{font-size: small; text-align: center;  display: block;}
.note_figure {display: block;text-align: center;}
.note_figure > img{max-width:90%; height: auto; text-align: center; margin: auto; display: block;}
.note_figure > p{font-size: small; text-align: center;  display: block;}

.thm {padding: 0.5em 1em; margin: 2em 0; border-left: solid 10px #191970; background-color:white;
}
.thm p {margin: 0; padding: 0;  }
.eq_border {padding: 0.5em 1em; border: solid 2px #191970;}

@media(max-width:880px )
{
 #noteSection{padding:100px 3px 0px 3px}
 .note_content{padding: none;}
 .note_body > p{font-size:14px;}
 .note_body ol ul li{font-size:14px ;}
  ol.list_parentheses li{font-size:14px ;}
 .note_image > img{width:95%; height: auto; }
}


.note_shadow {
    margin: 2em auto;
    padding: 1em;
    width: 100%;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    box-shadow: 1.5px 1.5px 2px #696969;
    }

.note_summary{
    padding: 0.5em 1em 1em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.note_summary p {
    margin: 0; 
    padding: 0;
}

.edit_note{font-size: 10px; font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;}


#book-slider { 
    width: 600px; 
    height: 300px; 
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
  } 
  .book-slider-item { 
    width: 200px; 
    height: 300px; 
    float: left;
    position: relative; 
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 7px;
  }

  .book-slider-img { 
    width: 180px; 
    height: 220px; 
  }

  .book-slider-wrapper { 
    width: 1200px; 
    position: relative; 
    left: 0; 
    will-change: transform; 
    animation: slider 10s infinite; 
  } 

 
  @keyframes slider { 
    0% { transform: translateX(0); } 
    33% { transform: translateX(-200px); } 
    66% { transform: translateX(-400px); } 
    100% { transform: translateX(0); } 
  }


@media(max-width:1100px )
{
    #book-slider {width: 200px;} 
    .book-slider-item {width: 200px;}
    .book-slider-img {width: 180px;}
    .book-slider-wrapper {width: 600px;}   
}
