{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="canonical" href="https://sciencetime.jp">

    {% include 'head_css.php' %}
    
    <!--adsense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7524603691208984"
     crossorigin="anonymous"></script>

    <!--  Social Media  -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="sciencetime_jp" />
    <meta property="og:site_name" content="ScienceTime" />
    <meta property="og:locale" content="ja_JP" />
    {% block social %}    
      <meta name="twitter:title" content="ScienceTime" />
      <meta name="description" content="自然科学" />  
      <meta property="og:url" content="www.sciencetime.jp" />
      <meta property="og:title" content="ScienceTime" /> 
      <meta property="og:description" content="自然科学" />
      <meta property="og:image" content="" />
    {% endblock %}



   <!-- fav icon-->
   <link rel="icon" type="image/png" href="{% static 'website/images/fav.png' %}">

    <title>
      {% block title %}
        ScienceTime
      {% endblock %}
    </title>

    <!--search console-->
    <meta name="google-site-verification" content="ol2iD_PIT80nxpj5J4WoF6AUv57zGxsrnwjrCcbWN2E" />
  </head>
  <body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>  
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
  {% include 'nav.php' %}
</header>

    {% block content %}
        
    {% endblock %}
        
        <footer>
          {% include 'footer.php' %}
        </footer>
      
       {% include 'foot_script.php' %}


    </body>
</html>