{% extends 'base.html' %}
{% block content %}

<div class="container">
  <section id="postSection">

  {% if category_posts %}

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="single_post_content">
        <h2><span>{{ cats }}</span></h2>

        <div class="select_area">
          <form method="GET" action="">
            <select class="catgArchive" name="sort" method="GET" onChange="submit(this.form)">
              <option>並び替え</option>
              <option value="date">投稿日（新しい）</option>
              <option value="inv_date">投稿日（古い）</option>             
              <option value="view">閲覧数（多い）</option>
              <option value="inv_view">閲覧数（少ない）</option>
            </select>
          </form>
        </div>

        <div class="single_post_content_cat">
          <ul class="allpost_nav">
            {% for post in pages %}
            <li>
              <div class="media wow fadeInDown">
                <a href="{% url 'post_detail' post.pk %}" class="media-left">
                  {% if post.main_image%}
                    <img src="{{ post.main_image.url }}" alt="">
                  {% else %}
                    <img src="{{ post.image_url}}" alt="">
                  {% endif %} 
                </a>
                <div class="media-body">
                  <a href="{% url 'post_detail' post.pk %}" class="catg_title"> {{ post.title }}</a>
                  <p><small><i class="fa fa-calendar"></i> {{ post.post_date|date:"Y/m/d"  }}</small></p>
              </div>
            </div>
            </li>
            {% endfor %}
          </ul>

          {% include 'paginating.php' %}   
          </div>
        </div>
      </div>


        <!-- popular posts-->
        {% include 'post_right.php' %}

    </div>
  </section>    

  {% else %}

  <h2>Sorry</h2>

  {% endif %}

 
  </section>
</div>

{% endblock %}