{% extends 'base.html' %}
{% block content %}

<div class="container">
  <section id="postSection">

  {% if category_posts %}

  

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="single_post_content">
        <h2><span>{{ cats }}</span></h2>
        <div class="single_post_content_cat">
          <ul class="spost_nav">
            {% for post in pages %}
            <li>
              <div class="media wow fadeInDown">
                <a href="{% url 'post_detail' post.pk %}" class="media-left">
                  {% if post.main_image%}
                    <img src="{{ post.main_image.url }}" alt="">
                  {% else %}
                    <img src="{{ post.image_url}}" alt="">
                  {% endif %} 
                </a>
                <div class="media-body">
                  <a href="{% url 'post_detail' post.pk %}" class="catg_title"> {{ post.title }}</a>
              </div>
            </div>
            </li>
            {% endfor %}
          </ul>

          {% include 'paginating.php' %}   
          </div>
        </div>
      </div>


        <!-- popular posts-->
        {% include 'post_right.php' %}

    </div>
  </section>    

  {% else %}

  <h2>Sorry</h2>

  {% endif %}

 
  </section>
</div>

{% endblock %}