{% extends 'base.html' %}
{% load static %}
{% block title %}All Notes{% endblock %}

{% block content %}

<div class="container">
  <section id="postSection">

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="single_post_content">
        <h2><span>Notes</span></h2>

        {% include 'php/post_sort_btn.php' %} 

        <div class="single_post_content_cat">
          <ul class="allpost_nav">
            {% for post in pages %}
            <li>
              <div class="media wow fadeInDown">
                <a href="{% url 'note_detail' post.pk %}" class="media-left">
                  {% if post.main_image%}
                    <img src="{{ post.main_image.url }}" alt="">
                  {% else %}
                    <img src="{{ post.field1.cover_image.url}}" alt="">
                  {% endif %} 
                </a>
                <div class="media-body">
                  【 <a href="{% url  'subject' post.subj_eng %}">{{ post.subject }}</a> | {{ post.field1 }} 】
                  <a href="{% url 'note_detail' post.pk %}" class="catg_title"> {{ post.title }}</a>
                  <p><small></small> <i class="fas fa-eye"></i>{{ post.views }}</small></p>
                  <p><small><i class="fa fa-calendar"></i> {{ post.post_date|date:"Y/m/d"  }}</small></p>

                  {% if user.is_authenticated %}
                  {% if user.id == post.author.id %}
                    <small><a href="{% url 'update_note' post.pk %}">[edit]</a></small>
                  {% endif %}
                {% endif %}  
                </div>
            </div>
            </li>
            {% endfor %}
          </ul>
          {% include 'paginating.php' %}  
          </div>
        </div>
      </div>

    <!-- popular posts-->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">

        <div class="single_sidebar">
          <h2><span>人気の記事</span></h2>
          <ul class="spost_nav">
            {% for post in popular_list|slice:":4" %}
            <li>
              <div class="media wow fadeInDown">             
                <a href="{% url 'post_detail' post.pk %}" class="media-left">              
                {% if post.main_image%}
                  <img src="{{ post.main_image.url }}" alt="">
                {% else %}
                  <img src="{{ post.image_url}}" alt="">
                {% endif %}
                </a>
                <div class="media-body">
                  <a href="{% url 'post_detail' post.pk %}" class="catg_title">
                    {{ post.title }}
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

      <!-- popular items-->
      <div class="content_sidebar">
        <h2><span>人気のアイテム</span></h2>
        <ul class="spost_nav">
          {% for post in popular_items|slice:":6" %}
          <li>
            <div class="media wow fadeInDown">             
              <a href="{% url 'product_detail' post.pk %}" class="media-left">              
                {% if post.main_image%}
                  <img src="{{ post.main_image.url }}" alt="">
                {% else %}
                  <img src="{{ post.image_url}}" alt="">
                {% endif %}
              </a>
              <div class="media-body">
              <a href="{% url 'product_detail' post.pk %}" class="catg_title">
                {{ post.name }}
              </a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>            

      <!-- ads -->
      <div class="single_sidebar wow fadeInDown">
          <h2><span>Sponsor</span></h2>
            <div class="ads">
            {% include 'ads/ads1.php' %}
            </div>
          </div>
        </aside>
      </div>

    </div>
  </section>    


  {% if user.is_authenticated %}
     <small><a href="{% url 'add_note'  %}">[add note]</a></small>
     <small><a href="{% url 'add_field'  %}">[add subject]</a></small>
  {% endif %}  
  </section>
</div>



{% endblock %}