{% extends 'base.html' %}
{% load static %}


{% block additional_static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'website/js/side_menu.js' %}"></script>
   <!-- MathJax -->
   <script>
    MathJax = {
    tex: {
    tags: 'ams',
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    processEscapes: true,
    macros: { pd: "{\\partial}",
              ep: "{\\epsilon}",
              varep: "{\\varepsilon}",
              bm: ["{\\boldsymbol{#1}}",1],
            }
    }     
    };
 </script>



 <script type="text/javascript" id="MathJax-script" async
 src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
 </script>
{% endblock %}

{% block social %}
  <meta property="og:title" content="{{ note.title }}" />
  <meta property="og:description" content="{{ note.abstract }}" />
  {% if note.main_image %}
  <meta property="og:image" content="{{ note.main_image.url }}" />
  {% else %}
  <meta property="og:image" content="{{ note.field1.cover_image.url }}" >
  {% endif %}
{% endblock %}

{% block title %}
   {{ note.title }}
{% endblock %}

{% block content %}
  <!-- Page Content -->


<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

  <section id="noteSection">
  
    <div class="container">

    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <!--right contents-->
    <nav class="globalMenuSp">
      <div class="side_ads">
        {% include 'ads/ads_125x125.php' %}
      </div>

      <div class="content_sidebar">
        <h2><span>目次</span></h2>
          {% if user.is_authenticated %}
            <a href="{% url 'update_field' note.field1.pk %}">[edit]</a>
          {% endif %} 
        <div class="content_slider">
          {{ note.field1.index|safe}}
        </div>
      </div>
              <!-- ads -->
      <div class="single_sidebar wow fadeInDown">
        <h2><span>Sponsor</span></h2>
        <div class="ads">
          {% include 'ads/ads1.php' %}
        </div>
      </div>
    
      <!-- popular items-->
      <div class="single_sidebar">
        <h2><span>人気のアイテム</span></h2>
        <ul class="spost_nav">
          {% for post in popular_items|slice:":8" %}
          <li>
            <div class="media wow fadeInDown">             
            <a href="{% url 'product_detail' post.pk %}" class="media-left">              
            {% if post.main_image%}
              <img src="{{ post.main_image.url }}" alt="">
            {% else %}
              <img src="{{ post.image_url}}" alt="">
            {% endif %}
            </a>
            
            <div class="media-body">
              <a href="{% url 'product_detail' post.pk %}" class="catg_title">
                {{ post.name }}
              </a>
            </div>
            </div>
          </li>
            {% endfor %}
        </ul>
      </div>    
    </nav>

      <div class="note_content">

          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url  'all_notes'  %}">ノート一覧</a></li>
              <li><a href="{% url  'subject' note.subj_eng %}">{{ note.subject}}</a></li>
              <li class="open_index">{{ note.field1 }}</li>
            </ol>
            {% if note.state == "published" %}
            <h1>{{ note.title }}</h1>
            {% endif %}
              <!--edit-->
              {% if user.is_authenticated %}
                {% if user.id == note.author.id %}
                <a href="{% url 'update_note' note.pk %}">[edit all]</a>
                {% endif %}
              {% endif %}  
            <div class="post_commentbox">
              {% if note.state == "published" %}
                <span><i class="fa fa-user"></i>{{ note.author.first_name }} {{ note.author.last_name}}</span>
                <span><i class="fa fa-calendar"></i>{{ note.post_date|date:"Y/m/d - H:i:s" }}</span> 
                <a href="#" class="open_index"><i class="fas fa-folder"></i>{{ note.field1 }}</a>
              {% endif %}
            </div>

            <div class="single_page_content">
              {% if note.quotes %}
                <blockquote>
                  <p>{{ note.quotes|safe }}</p>
                </blockquote>
              {% endif %}
              <div class="note_image">
              {% if note.state == "published" %}
                {% if note.video %}
                  {{ note.video|safe }}
                {% elif note.main_image %}
                  <img src="{{ note.main_image.url }}" alt="">
                {% else %}
                  <img src="{{ note.field1.cover_image.url }}" alt="">
                {% endif %}
                <p>{{ note.caption|safe }}</p>
              </div>
              <div class="note_body">
                <h4>はじめに</h4>
                <p>{{ note.intro|safe }}</p>
                <br>
                <span>keywords: 
                  {% for tag in note.note_tags.all %}
                    {% if forloop.last %} 
                    <a href="{% url 'note_by_tag' tag.slug %}">{{ tag }}</a>
                    {% else %}
                    <a href="{% url 'note_by_tag' tag.slug %}">{{ tag }}</a>,
                    {% endif %}
                  {% endfor %}
                </span>
                <br>
                <br>
                <h4>内容</h4>
                <ul class="content_table">
                 {{ note.table|safe }}
                </ul>
              </div>
                <div class="ads">
                  {% include 'ads/ads_vert.php' %}
                </div>
                <br>
                
                <!--edit-->
                {% if user.is_authenticated %}
                  {% if user.id == note.author.id %}
                    <a href="{% url 'update_content_note' note.pk %}">[edit content]</a>
                  {% endif %}
                {% endif %} 
                <!--post body-->
                <div class="note_body">
                {{ note.content1|safe }}

                {% if note.content2 %}
                <hr>
                  <div class="ads">
                    {% include 'ads/ads_vert.php' %}
                  </div>
                <hr>
                  {{ note.content2|safe }}
                {% endif %}
                </div>
                <!--edit-->
                {% if user.is_authenticated %}
                  {% if user.id == note.author.id %}
                    <a href="{% url 'update_content_note' note.pk %}">[edit content]</a>
                  {% endif %}
                {% endif %} 
                <br>
                <h4 id="index_ref">参考文献</h4>
                <ul>
                {{ note.reference|safe}}
                </ul>
                <!--edit-->
                {% if user.is_authenticated %}
                  {% if user.id == note.author.id %}
                    <a href="{% url 'update_reference_note' note.pk %}">[edit reference]</a>
                  {% endif %}
                {% endif %} 
              {% else %}
                <p>Sorry, this post is not published.</p>
              {% endif %}
              <hr>

              <!--edit-->
              {% if user.is_authenticated %}
                {% if user.id == note.author.id %}
                <a href="{% url 'update_note' note.pk %}">[edit all]</a>
                {% endif %}
              {% endif %}               
            </div>
          </div>

          <div class="social_link">
            <ul class="sociallink_nav">
              <!--<li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>-->
              <li>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-via="sciencetime_jp" data-related="ST_phys_bot" class="twitter-share-button" data-show-count="false" data-hashtags="ScienceTime {% for tag in note.note_tags.all %},{{ tag.name }}{% endfor %}" data-lang="ja"></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </li>
            </ul>
          </div>

          <!--ads-->
          <hr>
          <div class="ads">
            {% include 'ads/ads_vert.php' %}
          </div>
          <hr>

          <ol class="breadcrumb">
            <li><a href="{% url  'all_notes'  %}">ノート一覧</a></li>
            <li><a href="{% url  'subject' note.subj_eng  %}">{{ note.subject}}</a></li>
            <li class="open_index">{{ note.field1 }}</li>
          </ol>

        </div>
  </div>
</section>






{% endblock %}