{% extends 'base.html' %}
{% load static %}

{% block social %}
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.abstract }}" />
  {% if post.main_image %}
  <meta property="og:image" content="{{ post.main_image.url }}" />
  {% else %}
  <meta property="og:image" content="{{ post.image_url }}" />
  {% endif %}
{% endblock %}

{% block title %}
   {{ post.title }}
{% endblock %}


{% block content %}
  <!-- Page Content -->

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  
  <div class="container">
    <section id="postSection">
      <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="left_content">
            <div class="single_page">
              <ol class="breadcrumb">
                <li><a href="{% url 'posts' %}">記事一覧</a></li>
                <li><a href="{% url 'category' post.category %}">{{ post.category }}</a></li>
              </ol>
              {% if post.state == "published" %}
              <h1>{{ post.title }}</h1>
              {% endif %}

              <div class="post_commentbox">
                {% if post.state == "published" %}
                <span><i class="fa fa-user"></i>{{post.author.first_name }} {{post.author.last_name}}</span>
                <span><i class="fa fa-calendar"></i>{{ post.post_date|date:"Y/m/d - H:i:s" }}</span> 
                <a href="{% url 'category' post.category %}"><i class="fas fa-folder"></i>{{ post.category }}</a>
                <br>
                <span><i class="fa fa-tags"></i>
                  {% for tag in post.post_tags.all %}
                  <a href="{% url 'post_by_tag' tag.slug %}">{{ tag }}</a>
                  {% endfor %}
                </span>
                {% endif %}
              </div>
              <div class="single_page_content">
              {% if post.state == "published" %}
                {% if post.main_image %}
                  <img src="{{ post.main_image.url }}" alt="">
                {% else %}
                  <img src="{{ post.image_url}}" alt="">
                {% endif %}
                {% if post.caption %}
                  <span class="caption">{{ post.caption|safe }}</span>
                {% endif %}
                <!--post body-->
                <p>{{ post.content|safe }}</p>
              {% else %}
                <p>Sorry, this post is not published.</p>
              {% endif %}
              <!--edit-->
              {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                  <a href="{% url 'update_post' post.pk %}">[edit]</a>
                {% endif %}
              {% endif %}               
              </div>

              <!--shere buttons-->
              {% include 'php/share_btn.php' %}   

              <!--ads-->
              <div class="ads">
                {% include 'ads/ads_books.php' %}              
              </div>
              <hr>
              <!--related posts-->
              <div class="related_post">
                <h2>関連記事</h2>
                <ul class="spost_nav wow fadeInDown animated">
                  {% for post in related_entries|slice:":3" %}
                  <li>
                    <div class="media">
                        <a class="media-left" href="{% url 'post_detail' post.pk %}">
                        {% if post.main_image %}
                        <img src="{{ post.main_image.url }}" alt="">
                        {% elif post.image_url %}
                        <img src="{{ post.image_url}}" alt="">
                        {% else %}                   
                        {% endif %}
                       </a>
                      <div class="media-body">
                        <small>
                        <a class="catg_title" href="{% url 'post_detail' post.pk %}"> {{ post.title}}</a>
                        </small>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
     
        <!-- popular posts-->
        {% include 'post_right.php' %}

      </div>

    </section>
  
  </div>


{% endblock %}