{% extends 'base.html' %}
{% load static %}

{% block social %}
  <meta property="og:url" content="sciencetime.jp" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.abstract }}" />
  {% if post.main_image %}
  <meta property="og:image" content="{{ post.main_image.url }}" />
  {% else %}
  <meta property="og:image" content="{{ post.image_url }}" />
  {% endif %}
{% endblock %}

{% block title %}
   {{ post.title }}
{% endblock %}


{% block content %}
  <!-- Page Content -->

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <div class="container">

    <section id="postSection">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="left_content">
            <div class="single_page">
              <ol class="breadcrumb">
                <li><a href="{% url 'posts' %}">All Posts</a></li>
                <li><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></li>
                <li class="active">Mobile</li>
              </ol>
              {% if post.state == "published" %}
              <h1>{{ post.title }}</h1>
              {% endif %}

              <div class="post_commentbox">
                {% if post.state == "published" %}
                <span><i class="fa fa-user"></i>{{post.author.first_name }} {{post.author.last_name}}</span>
                <span><i class="fa fa-calendar"></i>{{ post.post_date }}</span> 
                <a href="{% url 'category' post.category|slugify %}"><i class="fas fa-folder"></i>{{ post.category }}</a>
                <br>
                <span><i class="fa fa-tags"></i>
                  {% for tag in post.post_tags.all %}
                  <a href="{% url 'post_by_tag' tag.slug %}">{{ tag }}</a>
                  {% endfor %}
                </span>
                {% endif %}
              </div>
              <div class="single_page_content">
              {% if post.state == "published" %}
                {% if post.main_image %}
                  <img src="{{ post.main_image }}" alt="">
                {% else %}
                  <img src="{{ post.image_url}}" alt="">
                {% endif %}
                <!--post body-->
                <p>{{ post.content|safe }}</p>
              {% else %}
                <p>Sorry, this post is not published.</p>
              {% endif %}
              <!--edit-->
              {% if user.is_authenticated %}
              {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">edit</a>
              {% endif %}
            {% endif %}               
              </div>

              <div class="social_link">
                <ul class="sociallink_nav">
                  <!--<li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>-->
                  <li>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-via="sciencetime_jp" data-related="ST_phys_bot" class="twitter-share-button" data-show-count="false" data-hashtags="ScienceTime {% for tag in post.post_tags.all %},{{ tag.name }}{% endfor %}" data-lang="ja"></a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </li>
                </ul>
              </div>

              <!--related posts-->
              <div class="related_post">
                <h2>Related Posts</h2>
                <ul class="spost_nav wow fadeInDown animated">
                  {% for post in related_posts|slice:":3" %}
                  {% if post.state == "private" %}
                  {% else %}
                  <li>
                    <div class="media">
                        {% if post.title %}
                        <a class="media-left" href="{% url 'post_detail' post.pk %}">
                        {% elif post.name %}
                        <a class="media-left" href="{% url 'product_detail' post.pk %}">
                        {% endif %}

                        {% if post.main_image %}
                        <img src="{{ post.main_image }}" alt="">
                        {% else %}
                        <img src="{{ post.image_url}}" alt="">
                        {% endif %}
                       </a>
                      <div class="media-body">
                        {% if post.title %}
                        <small>
                        <a class="catg_title" href="{% url 'post_detail' post.pk %}"> {{ post.title}}</a>
                        {% elif post.name %}
                        <a class="catg_title" href="{% url 'product_detail' post.pk %}"> {{ post.name}}</a>
                        {% endif %}
                        </small>
                      </div>
                    </div>
                  </li><!--3x-->
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
     
        <!-- popular posts-->
        {% include 'post_right.php' %}

      </div>

    </section>
  
  </div>


{% endblock %}